/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/
body {
  font-family: sans-serif;
  padding: 2rem;
}

section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}

section h3 {
  margin-bottom: 0;
}

section p {
  margin-top: 0;
}

section code {
  background-color: #EEE;
  padding: 0.1em 0.75em;
  margin: 12em 0em;
}


/*
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #FFF;
  background-color: #333;
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button-nav:hover, .button-nav:focus {
  background-color: #999;
}



/*
  TEXT ELEMENTS -------------------
*/
h1 {
  font-size: 2em ;
}



/*
  COMBINED ELEMENTS -------------------
*/

.img-oversize{
  width: 40%;
}
.img-espresso{
  width: 100%;
}

.container{
  display: flex;
  flex-wrap: wrap;
}

.block {
  height: 150px;
  background-color: #AAA;
  margin: 25px;
  padding: 25px;
  flex-basis: 15em;
}
.block-single {
  height: 200px;
  width: 300px;;
  background-color: #3E3234;
  margin: 25px;
  padding: 25px;
  flex-basis: 15em;
}

.block-single p{
  color: white;
}
