@import url("https://use.typekit.net/fzp0fam.css");

.fp-slidesNav bottom{
  margin:0 40%;
}
/* COLOR */

#section1{
  background: -webkit-gradient(linear, top left, bottom left, from(#FEFCF9), to(#FDF2E4));
  background: -webkit-linear-gradient(#FEFCF9, #FDF2E4);
  background: linear-gradient(#FEFCF9,#FDF2E4);
}
#section2{
  background: -webkit-gradient(linear, top left, bottom left, from(#FDF2E4), to(#FCE4C4));
  background: -webkit-linear-gradient(#FDF2E4, #FCE4C4);
  background: linear-gradient(#FDF2E4,#FCE4C4);
}
#section3{
  background: -webkit-gradient(linear, top left, bottom left, from(#FCE4C4), to(#F7D2A3));
  background: -webkit-linear-gradient(#FCE4C4, #F7D2A3);
  background: linear-gradient(#FCE4C4,#F7D2A3);
}
#section4{
  background: -webkit-gradient(linear, top left, bottom left, from(#F7D2A3), to(#F2C080));
  background: -webkit-linear-gradient(#F7D2A3, #F2C080);
  background: linear-gradient(#F7D2A3,#F2C080);
}
#section5{
  background: -webkit-gradient(linear, top left, bottom left, from(#F2C080), to(#E8AD61));
  background: -webkit-linear-gradient(#F2C080, #E8AD61);
  background: linear-gradient(#F2C080,#E8AD61);
}

/* =============================================================== IMAGES */
#gal1 .gallery_icon{
  background-image: url('img/DSC_0047.JPG');
}
#gal2 .gallery_icon{
  background-image: url('img/hnd-dragon-icon.jpg');
}


/* #landingPage{
  background-image: url('img/DSC_0047.JPG');
} */

#sc1{
  background-image: url('img/DSC_0047.JPG');
}
#sc2{
  background-image: url('img/DSC_0040.JPG');
}
#sc3{
  background-image: url('img/Tim - nicest thing.png');
  background-size: contain;
}
#sc4{
  background-image: url('img/sc-daqri.png');
}
#sc5{
  background-image: url('img/sc-wall-character-info.jpg');
}
#sc6{
  background-image: url('img/sc-user-testing.jpg');
}


#bg1{
  background-image: url('img/hnd-dragon-icon.jpg');
}
#bg2{
  background-image: url('img/IAT312 board00.jpg');
}
#bg3{
  background-image: url('img/IAT312 resources2.jpg');
}
#bg4{
  background-image: url('img/hnd_random_events_example.png');
}
#bg5{
  background-image: url('img/hnd-prototype-test.jpg');
}
#bg6{
  background-image: url('img/hnd-user-testing-1.jpg');
}
#bg7{
  background-image: url('img/hnd-user-testing-6.jpg');
}

#self{
  background-image: url('img/30173922_10155224260372657_1178316392_o.jpg');
}

/* ====================================================================== */
/* ==================================================== LESS THAN 1200 PX */
@media only screen and (max-width: 1199px){

  #sc3{
    background-size: contain;
  }
  #sc4{
    background-position: 30% 50%;
  }
  #sc6{
    background-position: 30% 50%;
  }

  #bg1{
    background-position: 30% 50%;
  }
  #bg2{
    background-size: contain;
  }
  #bg3{
    background-size:contain;
  }







  /* ========================================PROJECT TITLE POSITIONING BOX */
  .project_title_box{
    position: relative;
    height: 20vh;
  }
  .project_content{
    width:80%;
    margin: 0 auto;
  }
  .project_content h1{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    text-align: right;
    font-size: 2em;
    font-family: 'Europa', sans-serif;
    padding:  0;
  }

  /* ============================================================== NAVBAR */
  #navbar{
    float:right;
    right:0;
    display: block;
    position:fixed;
    z-index: 5;

    height: 0;
    width: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }

  #dropicon{
    cursor:pointer;
    position:absolute;
    right:0;
    z-index: 11;
    font-size:2em;
    text-align: center;
    width: 14vw;
    padding: 1vh 0;
  }
  .navbar_overlay_content{
    position: relative;
    width: 100%;
    text-align: center;
  }

  #navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0.2em 0;
  }
  #navbar ul li{
    display:block;
    padding: 0.6em 0px 0.6em;
  }
  #navbar ul li a{
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    line-height: 1em;
    transition: transform 0.8s;
    text-decoration: none;
  }
  #navbar a:visited {
      color: white;
  }
  #navbar a:link {
      color: white;
  }
  #navbar a:visited {
      color: white;
  }
  #navbar a:hover {
      color: #8D8D8D;
      -ms-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
  }
  #navbar a:active {
      color: white;
  }

  /* =================================================PROJECT IMAGES HOVER */
  .project_slide{
    position:relative;
    height: auto;
    overflow:auto;
    width:100%;
    margin-bottom: 5vh;

  }

  .project_img{
    position:absolute;
    display: block;
    width: 96%;
    height:65vh;
    left:0;
    right: 0;
    margin: 2% auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  .invis_container{
    position:absolute;
    display: block;
    width: 96%;
    height:65vh;
    left:0;
    right: 0;
    margin: 2% auto;
  }

  .project_desc{
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    overflow-x: hidden;
    bottom: 0;
    height: 10%;
    transition: 0.5s ease;
    left:0;
    right: 0;
    width: 100%;
    margin: 0 auto;
  }
  .project_desc h2{
    text-align: right;
    padding-right: 0.5em;
    padding-top:0.25em;
    color:white;
    margin: 0;
  }
  .project_desc p{
    margin:4%;
    color:white;
    font-size: 0.8em;
    /* margin: 0; */
  }

  .project_slide:hover .project_desc{
    height:65vh;
    background-color: rgba(0, 0, 0, 0.9);
  }

  /* =================================================================mobile fonts */
  .main h1{
    text-align: right;
    font-size: 2em;
    font-family: 'Europa', sans-serif;
    padding: 0.5em 0;
    margin-top:1em;
    margin-bottom:0;
  }

  .main h2{
    font-size: 1.2em;
    font-family: 'Europa', sans-serif;
  }

  .main p{
    font-family: 'Lato', sans-serif;
    font-size: 1.05em;
    line-height: 150%;
    letter-spacing: 0.00625em;
    text-indent: 1.1em;
  }

  /* -------------------------------------------------------- footer styling */

  #footer{
    display: inline-block;
    background-color: rgba(0,0,0, 0.9);
    color: white;
    position: fixed;
    width: 100%;
    text-align: center;
    height: 8vh;
    bottom:0;
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
    letter-spacing: 0.00625em;
  }
  .footer_info{
    display:inline-block;
    position:absolute;
    float: left;
    width:50%;
    left:0;
  }
  .footer_ref{
    display: inline-block;
    position: absolute;
    float:left;
    right:0;
    width:50%;
    margin: 0.5em 0;
  }

  .gallery_overlay p{
    margin: 0;
    font-size: 0.8em;
  }

  #refslide .project_content{
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  #refslide .project_content p{
    font-size: 0.8em;
  }
  #section4 p{
    font-size:0.95em;
  }
}
/* ========================================================================== */
/* ======================================================== LARGER THAN 300PX */
@media only screen and (min-width: 300px){

#fullPage{
  position:static;
}

#header{
  position: absolute;
  display: block;
  width:100%;
  z-index: 10;
}
#icontest{
  font-family: 'Europa', sans-serif;
  padding: 0.15em 0.35em;
  font-size: 1.5em;
  margin:0 0px 0px 1%;
  position:fixed;
  color: black;
  z-index:3;
}
#icontest:visited {
  color: black;
}
#icontest:hover {
  color: white;
}
#icontest:active {
  color: black;
}

.main .project_intro{
  text-align: right;
}



#section5 .project_content{
  text-align: left;
}#section5 b{
  text-indent:0;
}



/* ------------------------------------------------------ front page gallery */
.gallery{
  position:relative;
  height: auto;
  overflow:auto;
  float: left;
  width:100%;
  margin-bottom: 5vh;
}

.gallery_icon{
  display: block;
  float:left;
  left:0;
  width: 100%;
  height: 32vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


.gallery_overlay{
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 20%;
  transition: 0.5s ease;
  overflow: hidden;
}
.gallery_overlay h2{
  text-align: right;
  padding-right: 0.5em;
  margin-top:0.25em;
}
.gallery_overlay p, b{
  text-align: right;
  padding-top:0.5em;
}
.gallery_overlay p{
  padding-right: 0.5em;
}

.gallery:hover .gallery_overlay{
  height:100%;
  background-color: rgba(0, 0, 0, 0.8);
}

#gal1 .gallery_overlay{
  color: white;
}
#gal2 .gallery_overlay{
  color: white;
}




/* ========================================================================= */
/* ============================================================= PAGE LAYOUT */
#header{
  height: auto;
  /* position: absolute; */
  overflow:hidden;
}

/* body{
  background-color: #FCE4C4;
  background-color: SAME AS OTHER WINDOW
  margin: 0;
} */

/* .project_container{
  height:84%;
  bottom:0;
} */

/* .project_content{
  width:80%;
  margin: 0 auto;
}
.project_content h1{
  bottom:70%;
  margin: 0 auto;
} */

.main{
  position:absolute;
  height: auto;
  width:100%;
  /* margin-left: 25%; */
}
.main .project_intro{
  text-align: right;
  margin-bottom: 15%;
}
/* -------------------------------------------------------- top of home */
#projects{
  /* margin-top: 20vh; */
  overflow: auto;
}
#projects h1{
  margin:0.4em 0;
}

#body{
  position: static;
  height: auto;
  overflow:hidden;
  content: " ";
  display: block;
  clear: both;
}



.project_container{
  /* margin-bottom: 6%; */
  position:relative;

}

/* -------------------------------------------------------- footer styling */

#footer{
  display: inline-block;
  background-color: rgba(0,0,0, 0.9);
  color: white;
  position: fixed;
  width: 100%;
  text-align: center;
  /* height: 5vh; */
  bottom:0;
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
  letter-spacing: 0.00625em;
}
a:link {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color: #8D8D8D;
}
a:active {
    color: white;
}
.footer_info{
  display:inline-block;
  position:absolute;
  float: left;
  width:50%;
  left:0;
}
.footer_ref{
  display: inline-block;
  position: absolute;
  float:left;
  right:0;
  width:50%;

}


/*========================================================================= */
/*======================================================== MONITOR SETTINGS */

@media only screen and (min-width: 1200px) {

  #bg4{
    background-position: 50% 100%;
  }

  /* #landingPage h1{
    position: absolute;
    color: white;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 55vh;
    text-align: center;
    font-size: 7em;
  } */

  .mobile_triangle{
    display: none;
  }

  .gallery{
    width: 48%;
    margin: 0 1%;
  }
  .gallery_overlay{
    /* background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0%;
    width: 100%; */
    height: 20%;
  }
  #projects{
    overflow: auto;
  }

  .gallery_icon{
    display: block;
    float:left;
    left:0;
    width: 100%;
    height: 38vh;
  }

  .project_slide{
    position:relative;
  }
  .project_img{
    margin: 0.5em;
    position:absolute;
    /* display: block; */
    width:65%;
    height:40vh;
    /* border: solid 1px black; */
    float:left;
    left:0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  .project_desc{
    float:left;
    position:absolute;
    right:0;
    top: 10vh;
    width:33%;
    /* padding: 0.5em; */
  }

  .project_content{
    margin: 0;
    width:65%;
    padding-left:25%;
  }
  .project_content h1{
    /* padding-top:30%; */

    bottom:70%;
    /* padding-left:25%; */
    margin: 0 auto;
  }
  /* ------------------------------------------------------------ nav styling */
  #icontest{
    font-size: 2.5em;
  }

  #dropicon{
    display: none;
  }
  .closebtn{
    display: none;
  }

  #navbar{
    float:left;
    left:0;
    display: block;
    position:fixed;
    top:55%;
    left:1%;
    z-index: 5;
  }

  #navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  #navbar ul li{
    display:block;
    padding: 1em 0px 1em;
  }
  #navbar ul li a{
    display: block;
    /* width: 100px; */
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    line-height: 1em;
    transition: transform 0.8s;
    text-decoration: none;
  }
  #navbar a:link {
      color: black;
  }
  #navbar a:visited {
      color: black;
  }
  #navbar a:hover {
      color: #8D8D8D;
      -ms-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
  }
  #navbar a:active {
      color: white;
  }


  /* ------------------------------------------------------------ main styling */
  .main h1{
    font-size: 6em;
    font-family: 'Europa', sans-serif;
    padding: 0.8em 0;
  }

  .main h2{
    font-size: 1.5em;
    font-family: 'Europa', sans-serif;
    padding-left: 1em;
  }

  .main p{
    font-family: 'Lato', sans-serif;
    font-size: 1.24em;
    line-height: 145%;
    letter-spacing: 0.00625em;
    text-indent: 1.3em;
    margin: 0.5em 0;
  }
  .main h1{
    text-align: right;
    /* font-size: 2em; */
    font-family: 'Europa', sans-serif;
    /* padding: 0.5em 0; */
    /* margin-top:1em; */
    margin-bottom:0;
  }

  /* .main h2{
    font-size: 1.5em;
    font-family: 'Europa', sans-serif;
  } */

  /* .main p{
    font-family: 'Lato', sans-serif;
    font-size: 1.15em;
    line-height: 150%;
    letter-spacing: 0.00625em;
    text-indent: 1.3em;
  } */


  #footer{
    height: 5vh;
  }
  .footer_ref{
      margin: 1em;
    }
  }


}
