@import url("https://use.typekit.net/fzp0fam.css");

.fp-slidesNav bottom{
  margin:0 40%;
}
/* COLOR */

#section1{
  background: -webkit-gradient(linear, top left, bottom left, from(#FDEDD9), to(#FCE8CE));
  background: -webkit-linear-gradient(#FDEDD9, #FCE8CE);
  background: linear-gradient(#FDEDD9,#FCE8CE);
}
#section2{
  background: -webkit-gradient(linear, top left, bottom left, from(#FCE8CE), to(#FCE4C4));
  background: -webkit-linear-gradient(#FCE8CE, #FCE4C4);
  background: linear-gradient(#FCE8CE,#FCE4C4);
}
#section3{
  background: -webkit-gradient(linear, top left, bottom left, from(#FCE4C4), to(#FCE0BA));
  background: -webkit-linear-gradient(#FCE4C4, #FCE0BA);
  background: linear-gradient(#FCE4C4,#FCE0BA);
}
#section4{
  background: -webkit-gradient(linear, top left, bottom left, from(#FCE0BA), to(#FCDBB0));
  background: -webkit-linear-gradient(#FCE0BA, #FCDBB0);
  background: linear-gradient(#FCE0BA,#FCDBB0);
}


/* ====================================================================== */
/* ======================================================= PHONE SETTINGS */

@media only screen and (min-width: 400px) {
#icontest{
  font-family: 'Europa', sans-serif;
  padding: 0.15em 0.35em;
  font-size: 1.5em;
  margin:0 0px 0px 1%;
  position:fixed;
  color: black;
  z-index:9999;
}
#icontest:visited {
  color: black;
}
#icontest:hover {
  color: white;
}
#icontest:active {
  color: black;
}

#navbar{
  position: relative;
  float: right;
  display: block;
  /* position:fixed; */
  /* top:55%; */
  right:1%;
  z-index: 5;
}
#navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#navbar ul li{
  padding: 1em 0px 1em;
}
#navbar ul li a{
  display: block;
  width: 100px;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  line-height: 1em;
  transition: transform 0.8s;
  text-decoration: none;
}



.main .project_intro{
  text-align: right;
}
.main h1{
  font-size: 3em;
  text-align: right;
  font-family: 'Europa', sans-serif;
}
.main h2{
  font-size: 1.5em;
  font-family: 'Europa', sans-serif;
  padding-left: 1em;
}

.main p{
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
}


/* ------------------------------------------------------ temporary cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /* transition: 0.3s; */
    width: 46%;
    height: auto;
    display: inline-block;
    margin:1%
}
.card2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 46%;
    height: auto;
    display: inline-block;
    margin:1%
}
.card img {
   width: 100%;
}
.card2 img {
   width: 100%;
}


/* ------------------------------------------------------------ main styling */
.main h1{
  font-size: 3em;
  font-family: 'Europa', sans-serif;
  padding: 0.5em 0;
  margin-top:1em;
  margin-bottom:0;
}

.main h2{
  font-size: 1.5em;
  font-family: 'Europa', sans-serif;
  padding-left: 1em;
}

.main p{
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  line-height: 140%;
  letter-spacing: 0.00625em;
  text-indent: 1.3em;
}

/* ------------------------------------------------------ front page gallery */
.gallery{
  position:relative;
  height: auto;
  overflow:auto;
  float: left;
  width:100%;
  margin-bottom: 5vh;

}



.gallery_icon{
  display: block;
  float:left;
  left:0;
  width: 100%;
  height: 32vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#gal1 .gallery_icon{
  background-image: url('img/DSC_0047.JPG');
}
#gal2 .gallery_icon{
  background-image: url('img/hnd-dragon-icon.jpg');
}

.gallery_overlay{
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 20%;
  transition: 0.5s ease;
}
.gallery_overlay h2{
  text-align: right;
  padding-right: 0.5em;
  margin-top:0.5em;
  margin-bottom:0;
  /* margin:0; */
}
.gallery:hover .gallery_overlay{
  height:100%;
  background-color: rgba(0, 0, 0, 0.8);
}

#gal1 .gallery_overlay{
  color: white;
}
#gal2 .gallery_overlay{
  color: white;
}

/* -------------------------------------------------------- footer styling */
#footer .footer_hline{
  width: 100%;
  background-color: silver;
  height: 1px;
}
#footer p{
  font-size: 0.7em;
  color:silver;
}


/* ========================================================================= */
/* ============================================================= PAGE LAYOUT */
#header{
  height: auto;
  position: static;
  overflow:hidden;
}

body{
  background-color: #FCE4C4;
  /* background-color: SAME AS OTHER WINDOW */
  margin: 0;
}

.project_container{
  height:84%;
  bottom:0;
}
.project_content{
  width:80%;
  /* padding-left:25%; */
  margin: 0 auto;
}
.project_content h1{
  padding-top:15%;
  /* padding-left:25%; */
  margin: 0 auto;
}
.main{
  position:absolute;
  height: auto;
  width:100%;
  /* margin-left: 25%; */
}
.main .project_intro{
  text-align: right;
  margin-bottom: 15%;
}
/* -------------------------------------------------------- top of home */
#projects{
  /* margin-top: 20vh; */
  overflow: auto;
}
#projects h1{
  margin:0.4em 0;
}

#body{
  position: static;
  height: auto;
  overflow:hidden;
  content: " ";
  display: block;
  clear: both;
}

#footer{
  position: absolute;
  width: 100%;
  text-align: center;
  height: auto;
  margin-bottom: 1%;
}

.project_container{
  /* margin-bottom: 6%; */
  position:relative;

}

/*========================================================================= */
/*======================================================== MONITOR SETTINGS */
@media only screen and (min-width: 950px) {
  .gallery{
    width: 48%;
    margin: 0 1%;
  }
  #projects{
    overflow: auto;
  }

  .gallery_icon{
    display: block;
    float:left;
    left:0;
    width: 100%;
    height: 38vh;
  }

  .project_slide{
    position:relative;
  }
  .project_img{
    margin: 0.5em;
    position:absolute;
    /* display: block; */
    width:65%;
    height:40vh;
    border: solid 1px black;
    float:left;
    left:0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  .project_desc{
    float:left;
    position:absolute;
    right:0;
    top: 10vh;
    width:33%;
    /* padding: 0.5em; */
  }

  .project_content{
    margin: 0;
    width:65%;
    padding-left:25%;
  }

  /* ------------------------------------------------------------ nav styling */
  #icontest{
    font-size: 2.5em;
  }

  #navbar{
    display: block;
    position:fixed;
    top:55%;
    left:1%;
    z-index: 5;
  }

  #navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  #navbar ul li{
    padding: 1em 0px 1em;
  }
  #navbar ul li a{
    display: block;
    width: 100px;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    line-height: 1em;
    transition: transform 0.8s;
    text-decoration: none;
  }
  #navbar a:link {
      color: black;
  }
  #navbar a:visited {
      color: black;
  }
  #navbar a:hover {
      color: #8D8D8D;
      -ms-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
  }
  #navbar a:active {
      color: white;
  }
  /* ------------------------------------------------------------ main styling */
  .main h1{
    font-size: 6em;
    font-family: 'Europa', sans-serif;
    padding: 0.8em 0;
  }

  .main h2{
    font-size: 1.5em;
    font-family: 'Europa', sans-serif;
    padding-left: 1em;
  }

  .main p{
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    line-height: 140%;
    letter-spacing: 0.00625em;
    text-indent: 1.3em;
  }
}
